.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yelow{
    background-color: yelow;
}
.purple{
    background-color: purple;
}
.bold{
    font-weight: bold;
}